.clients_container {
    -fx-background-color: #63898C;
}

.clients_container Text {
    -fx-fill: #000000;
    -fx-font-size: 1.8em;
    -fx-font-family: "Calibri Light";
}

.clients_container .list-view {
    -fx-background-color: #A7D1D2;
    -fx-border-width: 0;
}

.clients_container .list-cell {
    -fx-background-color: #A7D1D2;
    -fx-padding: 10 0 10 0;
}

.title {
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}